server:
  port: 8080

spring:
  application:
    name: voting-api
  datasource:
    url: ${DB_URL:jdbc:oracle:thin:@localhost:1521/FREEPDB1}
    username: ${DB_USER:voting}
    password: ${DB_PASSWORD:voting}
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    baseline-on-migrate: true
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USER:guest}
    password: ${RABBIT_PASSWORD:guest}

cpf:
  validation:
    base-url: ${CPF_VALIDATION_BASE_URL:https://user-info.herokuapp.com}
    timeout-ms: ${CPF_VALIDATION_TIMEOUT_MS:1500}

voting:
  messaging:
    enabled: ${VOTING_MESSAGING_ENABLED:true}
  session:
    default-duration-seconds: ${SESSION_DEFAULT_DURATION_SECONDS:60}
  scheduler:
    close-expired-interval-ms: ${CLOSE_EXPIRED_INTERVAL_MS:5000}

springdoc:
  swagger-ui:
    path: /swagger-ui.html


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
